.header-container{
    background-color: tomato;
    padding: 20px 0px 20px 20px;
}


.header-component{
    color: white;
    text-decoration:none;
}

.header-component:not(:first-child){
    margin-left: 20px;
}
.header-component:last-child{
    color: black;
    margin-right: 20px;
    max-width: 50px;
    
}
.options{
    border-radius: 5px;
    width: auto;
    position: absolute;
    right: 0;
    height: 25px;
    margin-right: 20px;
}