<div class="header-container">
    <a class="header-component" routerLink="/aboutme" routerLinkActive="active"> {{'HeaderAboutMe' | translate }}</a>
    <a class="header-component" routerLink="/experience" routerLinkActive="active">{{'HeaderExperience' | translate }}</a>
    <a class="header-component" routerLink="/education" routerLinkActive="active">{{'HeaderEducationAndCourses' | translate }}</a>
    <a class="header-component" routerLink="/skills" routerLinkActive="active">{{'HeaderSkills' | translate }}</a>
   
    <a class="header-component">
        <select 
            class="options" 
            #selectedLang 
            (change)="switchLang(selectedLang.value)">
          <option *ngFor="let language of translate.getLangs()" 
            [value]="language"
            [selected]="language === translate.currentLang">
            {{ language }}
          </option>
        </select>
    </a>

</div>
